.layout {
    min-width: 320px;
    padding: 10px;
    background-color: #f8d57e;
    font-family: "Gilroy-Medium", Helvetica, Arial, sans-serif;
  }
  
  .layout__content {
    margin: 0 auto;
    padding: 2% 3%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* @media screen and (max-width: 900px) {
    
  } */