.left {
  min-width: 357px;
  display: flex;
  flex-direction: column;
}

.weekly {
  padding-top: 20px;
}

.weekly__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.weekly__header_big {
  font-size: 24px;
  line-height: 24px;
  color: #2c2543;
}

.weekly__header_small {
  font-size: 14px;
  line-height: 14px;
  color: #f4b860;
}

.locales {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0 0 15px 0;
}
