
.menu-icon {
  background: url(../../images/menu.png) center no-repeat;
  min-height: 8px;
  width: 8px;
  margin-bottom: 10px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.menu-icon:hover {
  cursor: pointer;
  opacity: 0.5;
}
