.middle {
  width: 45%;
  margin: 20px 0;
  padding: 0 30px;
}

.middle__header-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.middle__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.middle__header p {
  font-size: 36px;
  line-height: 50px;
  text-align: left;
  margin: 0;
}

.arrow-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
}

.plus:hover {
  opacity: 0.5;
  cursor: pointer;
}
