
@font-face {
  font-family: 'Gilroy-Medium';
  src: url(../src/fonts/Gilroy-Medium/Gilroy-Medium.woff) format('woff');
}



* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.page {
  min-width: 320px;
  padding: 10px;
  background-color: #F8D57E;
  font-family:  "Gilroy-Medium", Helvetica, Arial, sans-serif;
}

.page__content {
    margin: 0 auto;
    padding: 60px;
    background-color: #f2f2f2;
    border-radius: 30px;
    display: flex;
    flex-direction: row;


}

.Left {
width: 477px;
border: 1px solid black;
height: 80vh;
}

.Middle {
  width: 477px;
  border: 1px solid black;
 
}

.Right {
  width: 477px;
  border: 1px solid black;
}

.Middle__header p{
  font-size: 40px;
  line-height: 50px;
  text-align: left;
  margin: 0;

}


.text2 {
  color: #F4B860;
}

